<div class="container mx-auto px-4 mt-8 max-w-xs py-16">
	<%= form_with(model: chair) do |f| %>
		<%= f.label :name, class: label_classes %>
		<div class="mt-2">
			<% if chair.errors[:name].any? %>
			  <%= f.text_field :name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-red-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6", placeholder: "Chair name" %>
				 <p class="mt-2 text-sm text-red-600" id="email-error"><%= chair.errors[:name].join(", ") %></p>
			<% else %>
			  <%= f.text_field :name, class: form_field_classes, placeholder: "Chair name" %>
			<% end %>
		</div>
		<%= f.label :price, class: label_classes %>
		<div class="mt-2">
			<%= f.number_field :price, class: form_field_classes, placeholder: "Chair price" %>
		</div>
		<%= f.label :company, class: label_classes %>
		<div class="mt-2">
			<%= f.text_field :company, class: form_field_classes, placeholder: "Chair company" %>
		</div>
		<%= f.label :picture, class: label_classes %>
		<div class="mt-2">
			<%= f.text_field :picture, class: form_field_classes, placeholder: "Chair picture" %>
		</div>
		<%= f.label :description, class: label_classes %>
		<div class="mt-2">
			<%= f.text_area :description, class: form_field_classes, placeholder: "Chair picture" %>
		</div>
		<%= f.label :available_from, class: label_classes %>
		<div class="mt-2">
			<%= f.date_field :available_from, class: form_field_classes, placeholder: "Chair picture" %>
		</div>

		<div class="flex py-2">
  		<button type="button" class="rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    <%= f.submit %>
  </button>
	<%end %>
</div>