<div class="container mx-auto px-4 mt-4 max-w-xs py-4">
  <%= simple_form_for user, defaults: {label_html: {class: label_classes}, input_html: {class: form_input_classes}} do |f| %>

    <% if f.object.errors.present? %>
      <%= render "shared/errors", errors: f.object.errors %>
    <% end %> 


    <%= f.input :name, error: false %>
    <%= f.full_error :name, class: form_field_with_error_classes %>
    <%= f.input :email, error: false %>
    <%= f.full_error :email, class: form_field_with_error_classes %>
    <%= f.input :avatar, error: false %>
    <%= f.full_error :avatar, class: form_field_with_error_classes %>
    <%= f.input :password, error: false %>
    <%= f.full_error :password, class: form_field_with_error_classes %>
    <%= f.input :password_confirmation, error: false %>
    <%= f.full_error :password_confirmation, class: form_field_with_error_classes %>
    <%= f.button :submit, class: form_field_button_classes %>

  <% end %>
</div>