<div class="flex justify-center rounded-md p-4 mt-4"> 
  Reviews for <%= @chair.company %> <%= @chair.name %>
</div>

<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:grid lg:max-w-7xl lg:grid-cols-12 lg:gap-x-8 lg:px-8 lg:py-32">
    <div class="lg:col-span-4">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Customer Reviews</h2>

      <div class="mt-3 flex items-center">
        <div>
          <div class="flex items-center">
            <!-- Active: "text-yellow-400", Default: "text-gray-300" -->
            <%= render "chair_reviews_stars" %>           
          </div>
          <p class="sr-only">4 out of 5 stars</p>
        </div>
        <p class="ml-2 text-sm text-gray-900">
          <%= @chair.average_rating %> stars based on <%= @chair.reviews.size %> reviews
        </p>
      </div>

      <div class="mt-6">
        <h3 class="sr-only">Review data</h3>

        <dl class="space-y-3">
          <%= render "chair_review_data" %>
          
        </dl>
      </div>

      <div class="mt-10">
        <h3 class="text-lg font-medium text-gray-900">Share your thoughts</h3>
        <p class="mt-1 text-sm text-gray-600">If you’ve used this product, share your thoughts with other customers</p>

        <%= link_to "Write a review", new_chair_review_path(@chair), class: "mt-6 inline-flex w-full items-center justify-center rounded-md border border-gray-300 bg-white px-8 py-2 text-sm font-medium text-gray-900 hover:bg-gray-50 sm:w-auto lg:w-full" %>
      </div>
    </div>

    <%= render "chair_reviews", reviews: @reviews %>
  </div>
</div>
